* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
/* navigation bar section */
.navbar {
  height: 60px;
  background-color: #04734b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  display: flex;
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url(./Pictures/Logo/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 1.2px solid white;
}
.bar-address {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.address {
  color: #cccccc;
  font: 14px;
  margin-left: 14px;
}
.address-india {
  color: #ffffff;
  font: 16px;
  margin-left: 3px;
}
.address-icon {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 650px;
  justify-content: center;
}
#nav-select {
  color: #0f1111;
  background-color: #e6e6e6;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 40px;
  width: 50px;
}
.nav-search {
  width: 100%;
  border: none;
}
.search-bar:hover {
  box-shadow: 2px 2px 8px rgb(12, 12, 12);
}
.search-icon {
  background-color: rgb(218, 61, 126);
  width: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.2rem;
}
.nav-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.nav-flag-img {
  width: 20px;
}
#nav-lang {
  font-size: 13px;
  font-weight: 700;
  background: transparent;
  color: #ffffff;
  border: none;
}
.nav-signin {
  display: flex;
  align-items: flex-start;
  width: 132px;
  font-size: 12px;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  height: 30px;
}
#nav-acco {
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 14px;
  font-weight: 700;
}
.nav-return {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 12px;
  width: 77px;
}
.return {
  font-size: 12px;
  text-align: center;
}
.nav-orders {
  font-size: 14px;
  font-weight: 700;
}
.nav-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
}
.nav-cart i {
  font-size: 30px;
}

/**nav pannel**/

.nav-pannel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  background-color: #085749;
  color: #ffffff;
  font: 14px;
}
.pannel-all {
  display: flex;
}
.pannel-menue p {
  display: inline;
  height: 40px;
  text-align: center;
  margin-left: 5px;
}
.pannel-menue {
  width: 70%;
}
.pannel-black {
  font-weight: 700;
}

/* Hero section */
.hero-section {
  background-image: url(./Pictures/Hero_sec/Hero_sec_img_1.jpg);
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 14px;
  background-color: #f5f6f6;
  color: #0f1111;
  text-align: center;
  padding: 10px 14px;
  height: 40px;
  width: 90%;
  margin-bottom: 25px;
}
.hero-msg a {
  color: #007185;
}

/* Cards section */

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #e6eeee;
}
.box {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 22%;
  height: 420px;
  padding: 20px 0 15px;
  background-color: white;
}
.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.content {
  margin-left: 12px;
  margin-right: 12px;
}

/* top- piks */
.top-picks {
  display: flex;
  padding: 10px;
  margin: 20px;
  width: 94%;
  height: 282px;
  flex-wrap: wrap;
  background-color: white;
  overflow: hidden;
}
.top-h2 {
  width: 100%;
}
.picks {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

/* Recomendations section */
.reco-1 {
  padding: 10px 0;
}
.recomendations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 187px;
  border-style: ridge;
}
.reco-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 11px;
}
.reco-button button {
  border-radius: 5px;
  border: none;
  width: 230px;
  height: 28px;
  background-color: rgba(255, 205, 68, 0.629);
  font-weight: 750;
}
/* footer */
footer {
  background-color: #232f3e;
  height: 100%;
}
.foot-pannel {
  background-color: #72869f6d;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 13px;
}
.foot-pannel1 {
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
}
footer ul a {
  display: flex;
  padding: 5px;
  font-size: 14px;
  display: block;
  color: #dddddd;
}
footer ul p {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
footer ul {
  margin-top: 20px;
}
.foot-pannel2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232f3e;
  color: white;
  border-top: 0.5px solid rgba(154, 140, 140, 0.466);
  height: 68px;
}
.foot-logo {
  background-image: url(./Pictures/Logo/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.foot-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.foot-1 {
  border: 0.1px solid rgba(145, 133, 133, 0.716);
  border-radius: 4px;
}
.foot-1 select {
  background: transparent;
  padding: 8px;
  color: #ffffff;
  border: none;
}
.foot-two {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}
.foot-2 {
  border: 0.1px solid rgba(145, 133, 133, 0.716);
  border-radius: 4px;
  padding: 4px;
}
.foot-2 p {
  padding: 3px;
}
.foot-pannel-3 {
  display: flex;
  justify-content: center;
  font-size: 12px;
  width: 100%;
  flex-wrap: wrap;
  height: 380px;
  align-items: center;
}
.foot-pannel-3 a {
  display: block;
  padding: 10px;
  width: 100px;
  color: #e3e3e3b6;
  width: 15%;
}
.foot-pannel-3 a p {
  width: 100%;
  font-weight: 600;
  color: rgba(233, 231, 231, 0.834);
}
.foot-pannel3 {
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #131a22;
}

/* terms section */

.terms {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 78px;
  align-items: center;
  justify-content: center;
  background-color: #131a22;
  font-size: 12px;
  color: #dddddd;
}
.terms-options a {
  color: #e3e3e3b6;
  padding: 10px;
}
.terms-inc {
  margin: 10px;
}
